@import 'styles/shared';

.addTodoForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title {
    display: block;
    font-weight: 700;
    @include font(18px, 21px);
    color: #ffffff;
    margin: 0 0 9px 25px;
  }

  &__input {
    width: 458px;
    height: 65px;
    background: $modal-input-bg-color;
    outline: none;
    border: none;
    border-radius: 32px;
    padding: 0 25px;
    margin-bottom: 32px;

    &:focus {
      border: 2px solid $modal-input-overflow-color;
    }

    &.select {
      padding: 20px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 183px;
    height: 48px;
    background: $modal-button-color;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    font-weight: 700;
    @include font(18px, 21px);
    text-transform: uppercase;
    color: #ffffff;
  }
}
