@import 'styles/shared';

.header {
  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.navigation {
  &__list {
    @extend %list;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    font-weight: 700;
    @include font(18px, 21px);
    color: $text-accent-color;
    cursor: pointer;
  }
  &__item:not(:last-child) {
    margin-right: 64px;
  }
}

.authNav {
  &__list {
    @extend %list;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 48px;
  }

  &__button {
    @extend %button;
    color: $text-accent-color;
    border: 1px solid $text-accent-color;
    background-color: #fff;
  }
}
